@model UWofS.CS7.HomeIndexViewModel
@{
    ViewData["Title"] = "Employee Details -" + Model.Employees;
}
<h2>Employee Details</h2>
<ul>
    @foreach (var item in @Model.Employees)
    {
        <li>
            <a asp-controller="Home"
               asp-action="EmployeesView"
               asp-route-id="@item.EmployeeID">
                @item.FirstName
                @item.LastName
               
            </a>
        </li>
    }
</ul>